* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

/*  ------------BODY-------------- */

body {
    background:url('./background.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    
}

.reset {
    position: absolute;
    background: #6DD1C4;
    box-shadow: i;
    top: 1em;
    right: 1em;
    height: 4em;
    width: 8em;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    outline: none;
}
.reset:hover {
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4);
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: aliceblue;
    margin: .5em;
    font-size: 5rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
h2 {
    font-family: 'Press Start 2P', cursive;;
    margin-bottom: 1em;
}

/* -----------------SELECT BOX--------------- */

#select-name {
    height: 3em;
    width: 12em;
    font-size: larger;
    text-align: center;
    background: #6DD1C4;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}



/* ---------------START BUTTON----------------- */

#start-button {
    background-color: #A6CD70;
    position: relative;
    height: 2.5em;
    width: 150px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px 2px rgba(65, 64, 64, 0.4);
    margin-top: 15px;
    border-radius: 5px;
    outline: none;  
    font-size: 1rem;
    margin-bottom: 1em;
}


#start-button:hover {
    border: 2px solid black; 
    cursor: pointer; 
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px 2px rgba(65, 64, 64, 0.4);
}

/* ----------CONTAINER EGG-------------- */

.container {
    position: relative;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25em;
    width: 20em;
    border: 1px  black;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background: radial-gradient(at 50%,red, red,rgb(238, 182, 114));
    margin-bottom: 100px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
}
/* ----------------------SCREEN--------------- */

.screen {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #A6CD70;
    border: 3px solid black;
    height: 10em;
    width: 10em;
    /* animation: lightsOff 3s ease-in; */
}
@keyframes lightsOff {
    0% {background-color: #A6CD70;}
    50% {background-color: black;}
    100% {background-color: #A6CD70;}

}
.attributes {
    display: inline-flex;
    flex-direction: row;
    text-align: justify;
    bottom: 1.5em;
    opacity: 0.8;
    position: relative;
    justify-content: space-evenly;
    font-size: 12px;
    background: gray;
    width: 100%;
    border-bottom: 2px solid black;
} 

.avatar {
    position: relative;
    background-color: none;
}

.avatar__image {
    height: 2em;
}

.userPokemon {
    display: inline-flex;
    flex-direction: row;
    text-align: justify;
    align-content: center;
    position: relative;
    opacity: 0.8;
    top: 1.5em;
    justify-content: space-evenly;
    font-size: 12px;
    height: 1.5em;
    background: gray;
    width: 100%;
    border-top: 2px solid black;
}



/* --------------------ACTION---------------------- */

.actionBtns {
    display: inline-flex;
    flex-direction: row;
    font-size: larger;
    margin-top: 1em;
    width: 13em;
    height: 3em;
    justify-content: space-between;
    outline: none;
    
   

}
.fas {
    font-size: 30px;
    width: 2em;
    height: auto;
    border: 1px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

#feed-button {
    background-color: rgb(252,181,51);
    border-radius: 50%; 
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
    outline: none;
}

#sleep-button {
    background-color: rgb(252,181,51);
    border-radius: 50%;
    height: 5em;
    width: 5em;
    margin-top: 4em;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
    outline: none;;
}


#train-button {
    background-color: rgb(252,181,51);
    border-radius: 50%;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
    outline: none;
}


/* =================POKEMON=============== */
#avatar {
    height: 5em;
    width: 5em;
    position: relative;
    /* transform: translateX(50px); */
    animation: move 4s linear infinite;
    animation-direction: normal;
    
}


@keyframes move {
    0% { transform: translateX(0) rotateY(0deg); }

    33%{ transform: translateX(-.1em) rotateY(0deg); }

    34% { transform: rotateY( 180deg); }

    66% { transform: translateX(4.3em) rotateY( 180deg); }

    67% { transform: translateX(4em) rotateY(0deg); } 

    100% { transform: translateX(0px) rotateY(0deg); }

}


/* =================PIKACHU================ */


.pika {
    position: absolute;
    left:-250px;
    bottom: 0;
    animation: run 5s linear infinite;
}

@keyframes run {

    0% { transform: translateX(0) }

    100% { transform: translateX(110vw) }

}



/* =================MOVE ME=============== */


/* 
#move-left {
    background: none;
    outline: none ;
    height: 6em;
}

#move-up {
    background: none;
    outline: none ;
    height: 6em;
}

#move-right {
    background: none;
    outline: none ;
    height: 6em;
}   */